html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family:'Noto Sans TC', sans-serif; /* this should be the rest of the output you got from Google fonts */
}
h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.5px;
}


html {
  background-color: #E0997E;
}


body {
  width: auto;
  margin: 0 auto;
  background-color: #F4EDE5;
  padding: 0 20px 20px 20px;
  border: 2px solid #F4EDE5;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #BC3D0F;
  text-shadow: 0 black;
}

img {
  display: block;
  margin: 50 auto;
  width: 100%;
  align: center;
}
